body{
  background-color: #057099;
}
h1{
  color: #057099;
  padding-left: 22%;
  font-size: 35px;
  margin-bottom: 0%;
  margin-top: 10%;
}
i{
  padding-right: 2%;
  color:#c90083;
}

input {
  width:60%;
  height:50px;
  margin-left: 20%;
  font-size: 30px;
  margin-top: 3%;
  background-color: #ffffff;
  color: #c90083;
  border: 2px #c90083 solid;
  border-radius: 7px;
}

.submit{
  width:15%;
  font-size: 20px;
  margin-left: 65%;
}

.messageArea{
  width:70%;
  margin-left:14%;
  margin-top: 5%;
  height:500px;
  background-color: #71a71b;
  border: 4px #c90083 solid;
  border-radius: 12px;
}
