* {
  font-family: Times;
  font-size: 18px; }

body {
  display: flex;
  justify-content: center; }
  body .inputArea {
    background-image: url("background-window.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 697px;
    height: 578px; }
    body .inputArea .messageArea {
      width: 633px;
      margin: 0 auto;
      height: 187px;
      overflow: scroll;
      margin-top: 109px; }
      body .inputArea .messageArea .userNameDisplayBlue {
        color: blue;
        font-weight: bolder; }
      body .inputArea .messageArea .userNameDisplayRed {
        color: red;
        font-weight: bolder; }
      body .inputArea .messageArea .delete {
        float: right; }
    body .inputArea form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end; }
      body .inputArea form .textBox {
        display: block;
        width: 645px;
        height: 75px;
        border: none;
        margin: 68px auto 0 auto; }
        body .inputArea form .textBox:focus {
          outline: none; }
      body .inputArea form .submit {
        width: 104px;
        height: 85px;
        background-color: transparent;
        margin-right: 17px;
        margin-top: 15px;
        border: none; }
        body .inputArea form .submit:hover {
          border: 3px solid gray;
          cursor: pointer; }
        body .inputArea form .submit:focus {
          outline: none; }
