body {
  background-color: #057099; }

.messageArea {
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  border-radius: 7px;
  background-color: #ffffff;
  font-size: 20px;
  word-wrap: break-word;
  box-shadow: 0 0 0 3px #ffffff inset;
  padding-top: 7px;
  padding-left: 4px; }

.message {
  width: 80%;
  margin-left: 8%;
  padding-bottom: 2%;
  background-color: #ffffff;
  font-size: 20px;
  word-wrap: break-word;
  box-shadow: 0 0 0 3px #ffffff inset;
  display: inline-block; }

h1 {
  color: #057099;
  padding-left: 15%;
  font-size: 45px;
  margin-bottom: 0%;
  margin-top: 10%;
  margin-left: 9%;
  text-shadow: -1px 0 #497308, 0 1px #497308, 1px 0 #ffffff, 0 -1px #ffffff; }

i {
  padding-right: 2%;
  color: #c90083; }

.delete {
  width: 10%;
  float: right;
  margin-top: 4px;
  display: inline-block; }

.eachMessage {
  display: inline-block;
  width: 100%;
  border-top: 2px dotted #057099; }

.textBox {
  width: 60%;
  margin-left: 20%;
  font-size: 30px;
  margin-top: 3%;
  background-color: #ffffff;
  color: #c90083;
  border: 3px #c90083 dashed;
  box-shadow: 0 0 0 3px #6cd69d inset;
  border-radius: 7px; }

.submit {
  width: 15%;
  font-size: 20px;
  margin-left: 43%;
  margin-top: 1%;
  margin-bottom: 10%;
  color: grey;
  background-color: #ffffff;
  border: 2px #c90083 solid;
  border-radius: 5px;
  text-align: center; }

.inputArea {
  width: 70%;
  margin-left: 14%;
  margin-top: 5%;
  background-color: #6cd69d;
  border: 4px #c90083 solid;
  border-radius: 12px;
  box-shadow: 0 0 0 3px #ffffff inset; }

.messageArea {
  height: 300px;
  vertical-align: bottom;
  overflow: scroll; }

p {
  color: #6cd69d; }
